<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor='let product of products'>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/placeholder.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a [routerLink]="[product.url]" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
